@model Project.Models.DailyRatio

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <h1 style="text-align:center;">Daily Ratio</h1>
    <div class="col-12">
        <div class="d-flex justify-content-center">
        <div class="card" style="width: 30rem;">
                
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-white bg-success bg-opacity-25">
                        @{
                            int proc = (int)Math.Round(100 * Model.CcalAlreadyUsed / Model.DailyKcalGoal);
                        }
                        @if (Model.DailyKcalGoal <= Model.CcalAlreadyUsed)
                        {

                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">@Model.CcalAlreadyUsed</div>
                            </div>

                        }
                        else
                        {
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: @proc%" aria-valuenow="@proc" aria-valuemin="0" aria-valuemax="100">@Model.CcalAlreadyUsed</div>
                            </div>
                        }
                    </li>

                <li class="list-group-item bg-success bg-opacity-25">Daily goal: @Math.Round(Model.DailyKcalGoal)</li>
                <li class="list-group-item bg-success bg-opacity-25">Date: @Model.Date.ToShortDateString()</li>
                </ul>
            <form asp-action="EatDishesInCart" method="post" class="bg-success bg-opacity-25">
                    <button type="submit" class="btn btn-bg btn-primary m-2">Eat</button>
                </form>
            </div>

        </div>


    </div>



