@model IEnumerable<Project.Models.Food>

@{
    ViewData["Title"] = "SearchForProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search for product</h1>

<div class="row">

    <div class="input-group ">
        <div class="row">
            <form asp-action="SearchForProduct" enctype="multipart/form-data" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search" name="productName">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </div>
            </form>
        </div>
        
    </div>

   
   
</div>

@if (Model != null)
{
    <div class="tableDishes overflow-auto">
    <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">KcalPer100g</th>
                <th scope="col">Proteins</th>
                <th scope="col">Fats</th>
                <th scope="col">Carbohydrates</th>
                <th scope="col">Weight</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-light">
           
                @foreach (Food item in Model)
                {
                <tr>
                    <td scope="row">@item.Name</td>
                    <td >@item.KcalPer100g</td>
                    <td >@item.Proteins</td>
                    <td>@item.Fats</td>
                    <td>@item.Carbohydrates</td>
                    <form asp-action="AddToEatenFoodCart" enctype="multipart/form-data" method="post">
                        <input type="text" asp-for="@item.Id" name="productId" style="display:none;" />
                    <td><input required type="text" class="form-control" pattern="^\d*([,]\d{0,2})?$" value="0" style="width:100px;" name="weight" /></td>
                        <td><button type="submit" class="btn btn-sm btn-success">Add</button></td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
