@model Project.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Additional Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 d-flex justify-content-center" style="margin:auto;">
        <form asp-action="Index" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Settings.GoalId" class="col-sm-3 col-form-label">Goal</label>
                <select asp-for="Settings.GoalId" class="form-select" style="width:12rem">
                    <option selected value="1">Gain Weight</option>
                    <option value="2">Lose Weight</option>
                    <option value="3">Maintain Weight</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="UserDescription.HeightCM" class="col-form-label col-sm-3 pt-0"> Height</label>
                    <div class="col-sm-9">
                        <input type="range" asp-for="UserDescription.HeightCM" class="form-range" min="50" max="250" step="1" value="@Model.UserDescription.HeightCM" style="width:18rem" oninput="heightLabel.innerText = this.value" />
                        <label id="heightLabel">@Model.UserDescription.HeightCM</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label asp-for="UserDescription.WeightKG" class="col-form-label col-sm-3 pt-0">Weight</label>
                    <div class="col-sm-9">
                        <input type="range" asp-for="UserDescription.WeightKG" class="form-range" min="30" max="200" step="1" value="@Model.UserDescription.WeightKG" style="width:15rem" oninput="weightLabel.innerText = this.value" />
                        <label id="weightLabel">@Model.UserDescription.WeightKG</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="UserDescription.Age" class="col-form-label col-sm-3 pt-0">Age</label>
                <input required type="number" asp-for="UserDescription.Age" class="form-control" min="18" max="99" value="@Model.UserDescription.Age" style="width:100px;" />
            </div>
            <div class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-3 pt-0">Sex</legend>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input asp-for="UserDescription.GenderId" class="form-check-input" type="radio"id="Male" value="1" oninput="genderId.innerText = this.value">
                            <label class="form-check-label" for="Male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="UserDescription.GenderId" class="form-check-input" type="radio"id="Female" value="2" oninput="genderId.innerText = this.value">
                            <label class="form-check-label" for="Female">
                                Female
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-form-label col-sm-3 pt-0">Email Notification</label>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input asp-for="Settings.EmailNotifications" class="form-check-input" type="radio"  id="On" value="true">
                            <label class="form-check-label" for="On">
                                On
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Settings.EmailNotifications" class="form-check-input" type="radio" id="Off" value="false">
                            <label class="form-check-label" for="Off">
                                Off
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Save changes"/>
            </div>
        </form>
    </div>
</div>

@* <script>
    function showHight(val){
        document.getElementById('heightLabel').innerText = val;
    }
</script> *@



@*
<div class="row">
    <div class="row mx-md-n5">
        <div class="col border border-dark d-flex flex-column">
            <h3>Goal</h3>
            <button type="button" class="btn btn-outline-info" style="margin-top:10px;">Lose Weight</button>
            <button type="button" class="btn btn-outline-info" style="margin-top:10px;">Maintain Weight</button>
            <button type="button" class="btn btn-outline-info" style="margin-top:10px;">Gain Weight</button>
        </div>
        <div class="col border border-dark d-flex flex-column">
            <h3>Activity level</h3>
            <button type="button" class="btn btn-outline-info" style="margin-top:10px;">
                <p class="h5">Not Very Active</p>
                <p class="text-secondary">asdasd</p>
            </button>
            <button type="button" class="btn btn-outline-info" style="margin-top:10px;">
                <p class="h5">Lightly Active</p>
                <p class="text-secondary">asdasd</p>
            </button>
            <button type="button" class="btn btn-outline-info" style="margin-top:10px;">
                <p class="h5">Active</p>
                <p class="text-secondary">asdasd</p>
            </button>
            <button type="button" class="btn btn-outline-info" style="margin-top:10px;">
                <p class="h5">Very Active</p>
                <p class="text-secondary">asdasd</p>
            </button>
        </div>
        <div class="col border border-dark d-flex flex-column">
            <div class="form-group">
                <h5>Sex</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Radio" id="Radio1">
                    <label class="form-check-label" for="Radio1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="Radio" id="Radio2" checked>
                    <label class="form-check-label" for="Radio2">
                        Female
                    </label>
                </div>
                <h5>Date of birth</h5>
                <div class="form-outline">
                    <input type="date" class="form-control" />
                </div>
                <h5>Height</h5>
                div class="form-check">
                <input class="form-check-input" type="radio" name="Radio" id="Radio1">
                <label class="form-check-label" for="Radio1">
                    Male
                </label>
            </div>
            </div>

        </div>

        <div class="row">
            <div class="col p-3 border border-dark d-flex flex-column">
                <select class="form-select" style="width:12rem;">
                    <option selected>Goal</option>
                    <option value="1">Lose Weight</option>
                    <option value="2">Maintain Weight</option>
                    <option value="3">Gain Weight</option>
                </select>
                <div class="form-group">
                    <div class="row">
                        <h5 class="col-form-label col-sm-2 pt-0">Activity</h5>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                                <label class="form-check-label" for="gridRadios1">
                                    Not Very Active
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    Lightly Active
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" >
                                <label class="form-check-label" for="gridRadios3">
                                    Active
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4" >
                                <label class="form-check-label" for="gridRadios4">
                                    Very Active
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top:15px;">
                    <div class="row">
                        <h5 class="col-form-label col-sm-2 pt-0">Sex</h5>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio" id="radio1" value="option1">
                                <label class="form-check-label" for="radio1">
                                    Male
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio" id="radio2" value="option2">
                                <label class="form-check-label" for="radio2">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="border border-info">
                    <h5>Sex</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Radio" id="Radio1">
                        <label class="form-check-label" for="Radio1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="Radio" id="Radio2" checked>
                        <label class="form-check-label" for="Radio2">
                            Female
                        </label>
                    </div>
                    <h5>Age</h5>
                    <div class="form-outline">
                        <input type="tel" id="typePhone" class="form-control" />
                        <label class="form-label" for="typePhone">Phone number input</label>
                    </div>
                    <input type="range" min="60" max="230" step="1" value="150"/>
                </div>
            </div>


    </div>
</div> *@