@model Project.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Additional Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-6 d-flex m-auto justify-content-center bg-light" >

        <form asp-action="Index" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h3  class="m-3">Additional Info</h3>
            <div class="form-group row">
                <label asp-for="Settings.GoalId" class="col-sm-3 col-form-label">Goal</label>
                <select asp-for="Settings.GoalId" class="form-select" style="width:12rem">
                    <option selected value="1">Gain Weight</option>
                    <option value="2">Lose Weight</option>
                    <option value="3">Maintain Weight</option>
                </select>
            </div>
            <div class="form-group mt-2">
                <div class="row">
                    <label asp-for="UserDescription.HeightCM" class="col-form-label col-sm-3 pt-0"> Height</label>
                    <div class="col-sm-9">
                        <input type="range" asp-for="UserDescription.HeightCM" class="form-range" min="50" max="250" step="1" value="@Model.UserDescription.HeightCM" style="width:18rem" oninput="heightLabel.innerText = this.value" />
                        <label id="heightLabel">@Model.UserDescription.HeightCM</label>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">
                <div class="row">
                    <label asp-for="UserDescription.WeightKG" class="col-form-label col-sm-3 pt-0">Weight</label>
                    <div class="col-sm-9">
                        <input type="range" asp-for="UserDescription.WeightKG" class="form-range" min="30" max="200" step="1" value="@Model.UserDescription.WeightKG" style="width:15rem" oninput="weightLabel.innerText = this.value" />
                        <label id="weightLabel">@Model.UserDescription.WeightKG</label>
                    </div>
                </div>
            </div>

            <div class="form-group row mt-2">
                <label asp-for="UserDescription.Age" class="col-form-label col-sm-3 pt-0">Age</label>
                <input required type="number" asp-for="UserDescription.Age" class="form-control" min="18" max="99" value="@Model.UserDescription.Age" style="width:100px;" />
            </div>
            <div class="form-group mt-2">
                <div class="row">
                    <legend class="col-form-label col-sm-3 pt-2">Sex</legend>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input asp-for="UserDescription.GenderId" class="form-check-input" type="radio"id="Male" value="1" oninput="genderId.innerText = this.value">
                            <label class="form-check-label" for="Male">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="UserDescription.GenderId" class="form-check-input" type="radio"id="Female" value="2" oninput="genderId.innerText = this.value">
                            <label class="form-check-label" for="Female">
                                Female
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-form-label col-sm-3 pt-0">Email Notification</label>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input asp-for="Settings.EmailNotifications" class="form-check-input" type="radio"  id="On" value="true">
                            <label class="form-check-label" for="On">
                                On
                            </label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Settings.EmailNotifications" class="form-check-input" type="radio" id="Off" value="false">
                            <label class="form-check-label" for="Off">
                                Off
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-3">
                <input type="submit" class="btn btn-secondary" value="Save changes"/>
            </div>
        </form>
    </div>
</div>

